/* 
Primary blue: #0087c7;
 */
 
/* Global Elements */
#custom-content h1, #custom-content h2, #custom-content h3, #custom-content h4, #custom-content h5 {
	font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
	font-weight: bold !important;
}
#custom-content .et_pb_row {
	max-width: 1200px !important;
}
.page-title {
	font-size: 3em;
	line-height: 120% !important;
}
.centered-content-section .et_pb_module {
	text-align: center !important;
}
.grey-background-section {
	background-color: #f5f8fa !important;
}
.panel-column-section .et_pb_column {
	background-color: #fff !important;
	border-radius: 4px !important;
	box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12) !important;
	padding: 3em;
}
.testimonials-section .et_pb_testimonial_description {
	max-width: 1200px;
	margin: 0 auto !important;
	text-align: center !important;
	position: relative;
	top: 10px;
	font-style: italic;
}
.icons-blue i {
	color: #0087c7;
}
/* Navigation */
#menu-item-766 {
	background: #ea662b;
}
header #middle-column {
	display: none;
}
/* Homepage Slider */
#n2-ss-2.n2-ss-load-fade.n2-ss-loaded {
	opacity: 1 !important;
}
#n2-ss-2.n2-ss-load-fade {
	transition: none !important;
}
/* Homepage (DEMO) */
.homepage-brands-logo {
	width: 100%;
}
.homepage-brands-server {
	width: 100%;
}
/* WooCommerce */
.woocommerce-product-gallery {
	opacity: 1 !important;
}
.mobile-model-title {
	display: none;
}
/* Gravity Form */
body .gform_wrapper h2.gsection_title {
	font-size: 2em !important;
	border-bottom: 1px dashed !important;
	border-color: #cbd6e2 !important;
	padding-bottom: 5px !important;
	margin-top: 2em !important;
}
.gform_body input, .gform_body textarea {
	/*width: 100% !important;
	border-radius: 3px !important;
	background-color: #fff !important;*/
	background-color: #f5f8fa !important;
	color: #33475b !important;
	font-size: 1rem !important;
	line-height: 1.375 !important;
	border: 1px solid !important;
	border-color: #cbd6e2 !important;
	border-radius: .1875rem !important;
	width: 100% !important;
	min-height: 2.5rem !important;
	padding: 0.5625rem 0.625rem !important;
	transition: all 0.15s ease-out !important;
}
.gform_body .ginput_container {
	margin-top: 8px !important;
}
.gform_body li.gfield {
	margin-top: 16px !important;
}
.gform_footer input[type="submit"] {
	background-color: #ea662b !important;
	padding: .75em 1em !important;
	color: #fff !important;
	font-size: 1.25em !important;
	border-radius: 3px !important;
	font-weight: bold !important;
	margin-top: 1em !important;
}
.gform_footer input[type="submit"]:hover {
	cursor: pointer !important;
	background-color: #C3470F !important;
}
.gsection_description {
	padding-top: 10px;
	font-style: italic;
}

/*** Small Devices, Tablets  ***/
@media only screen and (max-width : 768px) {
	.modal-features-container {
		margin-top: 2em;
	}
	#modal-body-headline {
		font-size: 23px !important;
		line-height: 26px !important;
	}
	#modal-body-subheadline {
		font-size: 14px !important;
	}
	#modal-form-container-title {
		margin-bottom: 1.5em;
		line-height: 1.3;
	}
}
/*** Responsive Styles Smartphone Portrait ***/

/* Responsive Styles Desktop Only */
@media all and (min-width: 981px) {
	.sub-heading {
		font-size: 24px !important;
	}
	.et-db #et-boc .et_pb_testimonial:before {
		font-size: 50px !important;
		margin-left: -25px !important;
		top: -25px !important;
		color: #0087c7;
	}
	.testimonials-section .et_pb_testimonial_description {
		font-size: 26px;
	}
	.testimonials-section .et_pb_testimonial_author {
		font-size: 20px;
		font-style: normal;
		font-weight: bolder;
	}
}

@media all and (max-width: 479px) {
	.textwidget .menu li:last-of-type {
		display: none;
	}
	span.icon-phone {
		display: inherit !important;
		float: left;
	}
	.et-db #et-boc .et_pb_section {
		padding: 25px 0 !important;
	}
	.page-title {
		font-size: 2em;
	}
	.single-product div.product .summary-block .entry-summary .request-quote {
		font-size: 1.2rem !important;
		padding: 12px 15px;
		border-radius: 3px;
	}
	.mobile-model-title {
		display: inherit;
		margin-bottom: 0;
		text-align: center;
		line-height: 120%;
	}
	.desktop-model-title{
		display: none;
	}
	.main-navigation .menu-toggle {
		font-size: 1.25em;
		background: #006494;
		text-decoration: underline;
	}
	header #right-column {
		display: none;
	}
	div.breadcrumbs {
		display: none;
	}
	a.woocommerce-product-gallery__trigger {
		display: none !important;
	}
	figure.woocommerce-product-gallery__wrapper {
		margin: 0 10px;
	}
	.gform_button {
		text-align: center !important;
	}
}